doctype html
html
    block head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/img/favicon.png" type="image/png" rel="shortcut icon")
        script(src="https://js.stripe.com/v3/")
        title Natours | #{title}

    body(data-alert=`${alert ? alert : ''}`)
        // HEADER
        include _header

        // CONTENT
        block content
            h1 This is a placeholder heading

        // FOOTER
        include _footer

        script(type='module' src='/js/bundle.js')